<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Video from Azure Blob Storage</title>
</head>
<body oncontextmenu="return false">
    <h1>Embedded Video</h1>

    <video width="640" height="360" controls controlsList="nodownload" oncontextmenu="false">
        <source src="https://lhvideosstorage.blob.core.windows.net/videos/dodda.mp4?sp=r&st=2024-09-29T17:25:06Z&se=2024-10-30T01:25:06Z&sv=2022-11-02&sr=c&sig=XApH7xD%2FRwR5Jh71%2BK9JlABRJV74lR5ap2%2BtuPotQCg%3D " type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>
</html>